# ===== Java / Maven (backend) =====
target/
*.class

# ===== Node / Angular (frontend) =====
node_modules/
dist/
.angular/
npm-debug.log*

# ===== Logs =====
*.log

# ===== IDE =====
.idea/
*.iml
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db
